.flex-container{
display: flex;
flex-direction: column;
justify-content: space-between;
color: #f7f7ff;
height: 98vh;
width: 98vw
}
.a {
  font-size: 20px;
  align-self: flex-end;
}
.h1 {
font-size: 50px;
align-self: center;
}
.j{
  font-size: 40px;
align-self:center;
}
.s{
  align-self: center;
}
.g{
align-self: flex-end;
align-items: flex-end;
}
